{% extends "base_hod.html" %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            {% if action is None %}
              
            <form method="post" action="?action=get_student"
               enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Take Attendance</span></h5>
               </div>
               <!-- message -->
     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
     </div>
     {% endfor %}
     {% endif %}
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Subject</label>
                     <select class="form-control" name="subject_id" required>
                        <option>Select Subject</option>
                        {% for i in subject %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Session Year</label>
                     <select class="form-control" name="session_year_id" required>
                        <option>Select Session Year</option>
                        {% for i in session_year %}
                        <option value="{{i.id}}">{{i.session_start}} To {{i.session_end}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit"
                     class="btn btn-primary">Fetch Student</button>
               </div>
         </div>
         </form>



         {% else %}




         <form method="post" action="{% url 'staff_save_attendance' %}"
         enctype="multipart/form-data">
         {% csrf_token %}
         <div class="col-12">
            <h5 class="form-title"><span>Add Subject</span></h5>
         </div>
         <!-- message -->
         {% if messages %}
         {% for message in messages %}
         <div
            class="alert alert-{{ message.tags }} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close"
               data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endfor %}
         {% endif %}
         <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Subject</label>
               <select class="form-control" name="subject_id" required>
                  <option value="{{get_subject.id}}">{{get_subject}}</option>
               </select>
            </div>
         </div>
         <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Session Year</label>
               <select class="form-control" name="session_year_id" required>
                  <option value="{{get_session_year.id}}">{{get_session_year}}</option>
               </select>
            </div>
         </div>
         <div class="col-12 col-sm-6">
            <div class="form-group">
               <label>Date</label>
               <input type="date"
                  class="form-control" name= "attendance_date" required/>
            </div>
         </div>

         {% for i in students %}  
         <div class="col-12 col-sm-6">
         <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="{{i.id}}" name="students_id">
            <label class="form-check-label" for="exampleCheck1">{{i.admin.first_name}} {{i.admin.last_name}}</label>
          </div>
         </div>
         {% endfor %}

         <div class="col-12">
            <button type="submit"
               class="btn btn-primary">Submit</button>
         </div>
   </div>
   </form>


         {% endif %}

      </div>
   </div>
</div>
{% endblock content %}