{% extends "base_hod.html" %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_subject' %}"
               enctype="multipart/form-data">
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Subject</span></h5>
               </div>
               <!-- message -->
     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
     </div>
     {% endfor %}
     {% endif %}
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Subject Name</label>
                     <input type="text"
                        class="form-control" name= "subject_name" value="{{subject.name}}"/>
                  </div>
                  <div class="form-group">
                     <label>Subject Id</label>
                     <input type="text"
                        class="form-control" name= "subject_id" value="{{subject.id}}" hidden/>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Course</label>
                     <select class="form-control" name="course_id" >
                        <option>Select Course</option>
                        {% for i in course %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Staff</label>
                     <select class="form-control" name="staff_id">
                        <option>Select Staff</option>
                        {% for i in staff %}
                        <option value="{{i.id}}">{{i.admin.first_name}} {{i.admin.last_name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit"
                     class="btn btn-primary">Submit</button>
               </div>
         </div>
         </form>
      </div>
   </div>
</div>
{% endblock content %}